:root{
    --bgcolor:rgb(0, 0, 0);
    --txt-color:white;
    --hover:green;
    --font-size:2em;

}
body{
    background-color: var(--bgcolor);
    animation: animate 1s ease-in-out;
    background-image: url("gym1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: scroll;
}
@keyframes animate{
    from{
        opacity:0;
        transform:translateX(250px);
        width:100vw;
        height:100vh;
    }
    to{
        opacity: 1;
        transform: translateX(-0px);
        width:100vw;
        height:100vh;
    }

}
.contain{
    position:sticky;
    top:10px;
}
.icon i{
    color:green;
    float:left;
    margin:10px;
    transition:all 0.2s ;    

}
.icon i:hover{
    color:white;
}
.nav{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items: center;
    gap:50px;
    max-width:100vw;
    height:auto;
    position:relative;
    /* border:1px solid white; */
}
.nav a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:green;
}
li{
    list-style-type:none;
    color:var(--txt-color);
    font-size: 1.5em;
    transition: all 0.2s;
}
.btn button{
    position:absolute;
    right:0px;
    top:0px;
    background-color: rgb(5, 141, 5);
    padding:10px;
    border:2px solid green;
    border-radius:7px;
    width:8em;
    transition:all 0.2s  ;
    animation:join 2s linear infinite;
    
}
@keyframes join{
    0%{border-color: red;}
    40%{border-color: green;}
    60%{border-color: orange;}
    100%{border-color:red;}

}
.btn button:hover{
    background-color: #fff;
}
.tab{
    border:2px solid white;
    text-align:center;
    /* max-width:700px; */
    height:150px;
    color:white;
    transition:all 0.2s;
    margin: auto;
}
.table, th , td{
    border:2px solid white;
    border-collapse:collapse;    
}

th:hover ,
td:hover{
    color: green;

}

.contacts{
    /* width:300px;
    margin:auto; */
    display:flex;
    justify-content:center; 
    gap:10px;
    padding: 10px;
    flex-wrap: wrap;
}

.contacts i{
    color:blue;
    font-size:32px;
    transition:all .2s;
}
.contacts i:hover{
    color:green;
    font-size:35px;
}
.cont{
    color:white;
    font-style: italic;
}
.loc{
    width: 500px;
    margin: auto;
}
 
iframe{
    border-radius: 20px;
    display:block;
}
.foot i{
    color:blue;
    font-size:32px;
    transition:all 0.2s ;
}
.foot footer{
    position:fixed;
    bottom:0;
    padding:8px;
    text-align:center;
    max-width:100%;
    background-color: #ffffff;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:50px;
    flex-wrap: wrap;
    position:relative;
}




.foot i:hover{
    font-size: 35px;
    color:green;
}
/* .footer{
    max-width:100vw;
} */
.para{
    transition:all 0.2s ;
}
.para:hover{
    color: var(--hover);
}
.welcome{
    color:var(--txt-color);
    font-size:2em;
    float:left;
    width:800px;
    /* border:1px solid white; */
}
.sp{
    color:green;
}
.all{
    color: var(--txt-color);
    font-size:var(--font-size);
    /* display:block; */
    width:100%;
    /* border:1px solid white; */
    text-align:center;
    
}
h2{
    color: var(--txt-color);
    font-size:var(--font-size);

}
/* .image1{
    float:right;
} */
.image1{
    max-width:400px;
    max-height:300px;
    /* float:right; */
    margin-right:auto;
    margin-top: 20px;
    border-radius:10px;
}
#self{
    position:absolute;
    bottom:0px;
    transform:scale(-50% ,-50%);
    
}
.all-membership{
    /* max-width:100vw; */
    /* height:300px; */
    display:flex;
    flex-flow:row wrap;
    /* flex-shrink: 0; */
    gap:6px;

}
.pay:hover{
    background-color: #fff;
    transform:scale(1.03);
}
.pay{
    width:300px;
    /* flex-shrink: 1; */
    height:230px;
    border-radius:10px;
    text-align:center;
    font-size:3.7em;
    background-color: green;
    transition:all .2s;
}

html{
    scroll-behavior: smooth;
}


